body {
  background-color: white; /* Arka plan beyaz */
}

button {
  background-color: white; /* Tuşlar beyaz */
  color: black; /* Yazılar siyah olsun ki görünsün */
  border: 1px solid #ccc; /* İnce gri kenarlık */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: blue; /* Açık kırmızı link rengi */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  background-color: white;
}

button {
  width: 100%; /* tam genişlik */
  padding: 15px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
}

a {
  display: block;
  margin-top: 10px;
  color: #FF4444;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
}