body {
  background-color: white; /* Arka plan beyaz */
}

button {
  background-color: white; /* Tuşlar beyaz */
  color: black; /* Yazılar siyah olsun ki görünsün */
  border: 1px solid #ccc; /* İnce gri kenarlık */
  padding: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: blue; /* Açık kırmızı link rengi */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}